# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Ambiente
.env
config/exchanges.env
venv_quotex/
venv_pocket/
venv_iqoption/
venv_deriv/
venv/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Temporários
*.tmp
*.log
